/* Styles CSS */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #018abd;
  --bg-color: #f3fcfb;
  --text-color: #004581;
  --hover: #b2e7f8;
}
section {
  padding: 50px 10%;
  border-bottom: 1px var(--text-color) solid;
}
body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
p {
  line-height: 27px;
}
main {
  padding: 0 3rem;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  background-color: var(--bg-color);
  margin-top: 4rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}
header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
.logo img {
  /* font-size: 1.61rem;
  font-weight: 600;
  color: var(--text-color); */
  width: 100px;
  border-radius: 50% 0 50% 0;
  height: 40px;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a:hover {
  color: var(--hover);
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: 30px;
}

.heading span {
  font-size: var(--p-font);
  color: rgb(2, 166, 70);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#darkmode {
  font-size: 22px;
  cursor: pointer;
}
header h1 {
  text-align: center;
}

.navbar li::before {
  content: "";
  position: absolute;
  width: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  background-color: #4e055d;
  height: 2px;
  transition-duration: 0.5s;
}
.navbar li:hover::before {
  width: 100%;
}

/* about me */

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  overflow: hidden;
  margin-top: 1rem;
}
.about-img {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  background: var(--text-color);
  border-radius: 5px;
  /* margin-right: 4rem; */
  width: 250px;
  height: 330px;
  padding: 10px;
  margin-left: 4rem;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
  /* clip-path: inset(5% 20% 15% 10%); */
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transform: scale(1.01);
}
.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  /* text-align: justify; */
}
.bars-box h3,
span {
  font-size: 1.1rem;
  font-weight: 500;
}
.information {
  margin: 1rem 0 1.4rem;
}
.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.information .info-box .bx {
  font-size: 22px;
}
.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}
/* section {
  border-bottom: 2px solid #000;
  width: 100%;
  padding: 15px 0;
} */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.profile {
  background: var(--text-color);
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
  width: 280px;
  height: 300px;
  border-radius: 30px 0 0 30px;
  padding: 7px;
  margin-right: 2rem;
}

.presentation {
  flex: 1;
  /* margin: 10px; */
  padding: 20px;
  margin-left: 2rem;
}

.presentation p {
  margin: 16px 0;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 30px 0 0 30px;
  /* display: block;
  margin: 0 auto; */
}
#Slide h2 {
  text-align: center;
}

.slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
  position: relative;
  width: 100%;
  overflow-y: hidden;
}

.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
  position: relative;
  height: auto;
  /* Définir une hauteur spécifique pour le conteneur */
  width: 100%;
  box-shadow: -2px -2px 5px rgba(153, 166, 188, 0.288),
    2px 2px 5px rgba(154, 168, 193, 0.288);
  border-radius: 3px;
}
/* .image-container {
  background: var(--text-color);
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
  padding: 5px;
} */
.slideshow img {
  max-width: 100%;
  width: 600px;
  max-height: 550px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: none;
  opacity: 0;
  object-position: center;
}

.slideshow img.active {
  display: block;
  opacity: 1;
}

/* .slideshow img.active {
  display: flex;
  margin: 0 auto; /* S'assurer que l'image active est centrée */

.slideshow img:hover {
  transform: scale(1.02);
}

.slideshow .image-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #0f0c27;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: none;
}

.slideshow .image-container.active button {
  display: block;
}

.slideshow .image-container:hover button {
  opacity: 1;
}

.slideshow .nav-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0f0c27;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow .nav-icon.prev {
  left: 10px;
}

.slideshow .nav-icon.next {
  right: 10px;
}

.video-section {
  text-align: center;
  margin: 20px 0;
}

.video-section iframe {
  width: 100%;
  max-width: 800px;
  height: 390px;
  border-radius: 8px;
  padding: 17px;
}

.video-section a {
  display: block;
  margin: 10px 0;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.video-section a:hover {
  text-decoration: underline;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}
.skills-img {
  background: var(--text-color);
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
  padding: 5px;
  margin-left: 2rem;
  border-radius: 5px;
}
.skills-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;

  object-position: center;
}
.bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.bars-box h3,
span {
  font-size: 1.1rem;
  font-weight: 500;
}
.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: hsla(260, 100%, 44%, 0.4);
  border-radius: 0.5rem;
}
.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background: var(--main-color);
  border-radius: 0.5rem;
}

.html-bar {
  width: 94%;
}
.css-bar {
  width: 80%;
}
.js-bar {
  width: 40%;
}
.react-bar {
  width: 20%;
}
.php-bar {
  width: 20%;
}

.parcours {
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  margin: 20px;
}

.parcours h2 {
  text-align: center;
  margin: 15px 0;
}
.parcours h3 {
  text-align: center;
  margin: 15px 0;
  font-weight: 300;
  color: rgb(2, 166, 70);
}

.parcours ul {
  list-style-type: none;
  padding: 0;
}

.parcours ul li {
  background-color: #f4f4f4;
  width: auto;
  height: auto;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}
/* .listeChangeNoir {
  background-color: black;
} */
/* footer */
.footer {
  display: grid;
  place-items: center;
  padding: 20px;
  background: #ebebeb;
  color: #000;
}
.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}
.footer-social a i {
  color: rgb(10, 26, 208);
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.copyright {
  padding: 20px;
  background: var(--main-color);
  text-align: center;
  color: #fff;
}
.copyright a {
  color: #22cf91;
}
/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}
@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  .scroll-down {
    display: none;
  }
  .home {
    grid-template-columns: 0.5fr 3fr;
  }
  .home-text {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }
  .home-img {
    order: initial;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-img {
    display: flex;
    justify-content: center;
  }
  .skills-container {
    grid-template-columns: 1fr;
  }
  .skills-img img {
    padding-left: 0;
  }
  .skills-img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .contact-form form {
    width: 300px;
  }
  .contact-button {
    margin-left: 25%;
  }
  .slideshow .image-container button {
    font-size: small;
  }
  .slideshow img:hover {
    transform: scale(1);
  }
  .about-img {
    order: -1; /* Place l'image en haut */
  }

  .about-text {
    order: 1; /* Place le texte en bas */
  }
}
@media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }
  /* .home-text {
    padding: auto;
  } */
  .home-text span {
    font-size: 1rem;
  }
  .home-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .information .info-box span {
    font-size: 1rem;
  }

  /* .portfolio-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .contact-form form {
    width: 300px;
  }
  .contact-button {
    margin-left: 25%;
  }  */
}
